.discipline {
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.module {
  display: flex;
  &__title {
    margin: 0;
    padding-top: 30px;
    border-top: 2px solid #ff3535;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
  }
  &__list {
    margin: 0 0 0 81px;
    padding: 30px 0 0 0;
    max-width: 373px;
    list-style: none;
  }
  &__list_item {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    &::before {
      content: '\2022';
      color: #ff3535;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1400px) {
  .discipline__container {
    flex-direction: column;
    align-items: center;
  }
  .module__list {
    margin: 0 0 0 50px;
    padding: 0;
  }
  .module__list_item {
    margin-bottom: 50px;
  }
}
